
main#app[data-state='ready'] > div::after {
	content: 'hello';
}

nav.left:not(.open) {
	transform: translateX(-101%);
}

.effect {
	animation: slide-rotate-reveal .5s ease-out;
}

@media screen and (min-aspect-ratio: 1/2) {
	/** alt layout */
}

@keyframes slide-rotate-reveal {
	0% {
		transform: translateX(-60%) rotateY(-45deg);
	}
	100% {
		transform: translateX(0) rotateY(0);
	}
}
