

main#app > div[data-state='ready']::after {
	content: 'hello';
}
nav > .menu:not(.open) button {
	display: none;
}

@media screen and (min-aspect-ratio: 1/2) {
	main {
		display: block;
		background-image: url(/assets.images/img.png);
	}
}

@keyframes sliding-appear {
	0% {
		transform: translateX(-60%) rotateY(-45deg);
	}
	100% {
		transform: translateX(0) rotateY(0);
	}
}

